.showcase{
    border-top: 2px solid rgba(255, 255, 255, 0.568);
    border-bottom: 2px solid rgba(255, 255, 255, 0.568);
    padding: 3rem 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 500px;
}
.showcase:nth-child(odd){
    flex-direction: row;
}
.showcase:nth-child(even){
    flex-direction: row-reverse;
}
.align1, .align2{
    width: 45%;
}
.align1 h1{
    font-size: 3rem;
    margin-bottom: 1.6rem;
}
.align1 p{
    font-size: 1.5rem;
    font-weight: normal;
}