*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    width: 100%;
    background-color: black;
}
.flex{
    display: flex;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* navbar */
nav{
    position: absolute;
    padding: 1rem;
    width: 100%;
    z-index: 999;
}
.logo svg{
    height: 2rem;
}
.nav-container{
    width: calc(85% - 6rem);
    justify-content: space-between;
}
.option{
    display: flex;
    gap: 15px;
}
.option select{
    border: 1px solid white;
    padding: 3px 5px;
    border-radius: 5px;
    background-color: transparent;
}
.signup{
    background-color: red;
    padding: 5px 7px;
    border: none;
    font-size: 1rem;
    border-radius: 4px;
}

/* hero section */